<header id="header" class="{{headerClass}}">
  <div class="logo">
    <a href="/">
      Road Trip
      <span>
        {{username}}
      </span>
    </a>
  </div>
  <a href="#menu">
    <span>
      Menu
    </span>
  </a>
</header>